#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #container {
    margin: 10em;
    font-family: Avenir-Heavy, Arial, Helvetica, 'Times New Roman';
    
  }

  #name {
    letter-spacing: 3px;
    position: relative;
    color: #BAAEFF;
    font-size: 60px;
  }

  #job {
    font-size: 27px;
    position: relative;
    color: #BAAEFF;
  }

  #projects-title {
    font-size: 20px;
    font-weight: lighter;
    position: relative;
    color: white;
    margin-top: 54.2px;   
  }

  #projects {
    position: relative;
    font-size: 16px;
    color: white;
    margin-top: 10px;   
  }

  #socials-title {
    font-size: 20px;
    position: relative;
    color: white;
    margin-top: 29.8px;   
  }

  #email {
    position: relative;
    color: white;
    margin-top: 10px;   
  }
  #socials {
    position: relative;
    color: white;
    margin-top: 55.2px;
    display: flex;   
  }

  .icon {
    margin-left: 10.5px;
  }
  a {
    font-size: 16px;
    color: white;
  }

  @media only screen and (max-width: 600px) {
    #container {
        margin: 5em;
        text-align: center;
        font-family: Avenir-Heavy, Arial, Helvetica, 'Times New Roman';

      }
      #socials {
        position: relative;
        color: white;
        margin-top: 55.2px;
        display: inline-flex;   
      }
  }

  @media only screen and (max-width: 300px) {
    #container {
        margin: 5em;
        text-align: center;
        font-family: Avenir-Heavy, Arial, Helvetica, 'Times New Roman';

      }
      #socials {
        position: relative;
        color: white;
        margin-top: 55.2px;
        display: inline-flex;   
      }
    }
